.scrollable-container {
    overflow-x: auto;
    white-space: nowrap;
}

.scrollable-container .carousel-inner {
    display: flex;
}

.scrollable-container .carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
   
}

@media (max-width: 992px) {
    .carousel-item {
        max-width: 100vw; /* Set max-width to full viewport width on mobile devices */
        
    }
}

.carousel-item img {
    max-height: 500px; /* Set the maximum height for the images */
}

.overlay-container {
    position: relative;
}

.overlay-element {
    height: fit-content;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

@media (min-width: 992px) {
    .overlay-element {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.navbar {
    background-color: whitesmoke;
}


  ul.bar2 {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

li.borderless {
    border: 0 none;
    font-size:small;
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;

}

.col-md-6.order-md-2, .col-md-6.order-md-2 {
    height: 700px; 
  }
  
.nav-item.withborder{
    border-right:1px solid rgb(77, 77, 77);   
}

.dropdown-header{
    background-color: rgba(128, 128, 128, 0.13);
}

.dropdown-menu{
    border-radius: 0;
}

.first-word {
    color: black;
}

.second-word {
    color: turquoise;
}

.rest-of-sentence {
    font-size: smaller;
    color: grey;
}

.dropdown-toggle.colored{
    border:1px solid turquoise;
    color: turquoise;
}

  
  .awesome {
    color: #313131;
    
    -webkit-animation: colorchange 20s infinite alternate;
  }
  
  @-webkit-keyframes colorchange {
    0%, 20% {
        color: blue;
    }
    40% {
        color: #1abc9c;
    }
    60% {
        color: blue;
    }
    80% {
        color: #f1c40f;
    }
    100% {
        color: pink;
    }
}

